extends layout

block head
  title #{t('title')} <#{env}>
  
block body
  div#content(ng-controller='ChatCtrl')
    div#room
    div#room-list
    div#messages
    form#send-form
      input#send-message
      input#send-button(type='submit', value='#{t("send-button")}')
      div#help #{t('help.title')}
        ul
          li #{t('help.nickname')} <code>/nick [username]</code>
          li #{t('help.room')} <code>/join [room name]</code>
  script(type='text/javascript', src='/vendor/angularjs/1.0.7/js/angular.js')
  script(type='text/javascript', src='/js/app.js')
  script(type='text/javascript', src='/js/controllers.js')
  script(type='text/javascript', src='/js/directives.js')
  script(type='text/javascript', src='/js/filters.js')
  script(type='text/javascript', src='/js/services.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/js/chat.js')
  script(type='text/javascript', src='/js/chat_ui.js')
